<header>
    <img id="logo" src="/img/logo_pokedex2.png" alt="Logo Pokebola">
    <nav>
        <ul id="menu">
            <a href="/"><li>Início</li></a>
            <a href="/cadastro"><li>Cadastro</li></a>
        </ul>
    </nav>
</header>